body {
  background-color: #f5f0fa;
}

.custom-bg {
  background-image: url("images/custom-bg.jpg");
}

.nav-tabs .nav-item .nav-link {
  font-size: large;
  color: #4d2b4d;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #703ba9;
  color: #fff;
}

.btn {
  background-color: #8b5bbe;
  border-color: #a084d5;
  border-width: 3px;
}

.btn:hover {
  background-color: #6a419b;
  border-color: #8b5bbe;
}

.table thead th {
  background-color: #a084d5;
  color: #fff;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  position: relative;
}
.adventures-box {
  background-color: #add8e6;
  border: 1px solid #c5cae9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.adventures-box h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.adventures-description {
  color: #495057;
  font-family: "popins", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

/*--footer--*/

footer {
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #341b5f, #2d1752);
  color: #fff;
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 50px;
}

.row {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 3px;
}

.col:nth-child(3) {
  flex-basis: 15%;
}

.logo-footer {
  width: 150px;
  margin-bottom: 30px;
}

.col h3 {
  font-size: large;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}

.col h4 {
  font-size: small;
}

.col:nth-child(1) p {
  text-align: left;
}

.col p {
  padding-left: 0px;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

ul {
  padding-left: 0px;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.subscription-form {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.subscription-form .far {
  font-size: 18px;
  margin-right: 10px;
}

.subscription-form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.subscription-form button {
  background: #c18dda;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: "poppins" sans-serif;
  font-weight: 900px;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }

  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}

